body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #9099a2;
}

.navigation {
    overflow: hidden;
    background-color: #6d7993;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.navigation a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px;
    color: #ffffff;
}

.navigation ul {
    list-style: none;
}

.navigation a:hover, .dropdown:hover, .droptrigger:hover {
    background-color: #96858f;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .droptrigger {
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: #6d7993;
    padding: 20px;
}

.dropdown:hover .dropcontent {
    display: inline-block;
    margin-top: 60px;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    background-color: #d5d5d5;
}

.review ul {
    display: block;
}

.review li {
    padding: 5px;
}

.rname {
    font-size: 18px;
}

.rating {
    font-size: 12px;
    float: left;
}

.review-text {
    float: left;
}

.clear {
    clear: both;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    grid-template-columns: auto auto auto;
    text-align: center;
    background-color:  #6d7993;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
    color: #96858f;
}

ul {
    list-style: none;
}

.slides {
    display: none;
    /*width: 50%;*/
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.simpleSlides {
    height: 25%;
}

.animate-right {
    position: relative;
    animation: animateright 2s;
}

@keyframes animateright {
    from { right :0px; opacity:0 } to { right:0; opacity:1 }
}