body, html {
    margin: 0;
    padding: 0;
}

main {
    background-color: #d5d5d5;
}

article {
    background-color: #ffffff;
}

.navigation {
    overflow: hidden;
    background-color: #6d7993;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.navigation a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 20px 15px;
    color: #ffffff;
}

.navigation ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.navigation li {
    width: 100%;
}

.navigation a:hover, .dropdown:hover, .droptrigger:hover {
    background-color: #96858f;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .droptrigger {
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    width: 25vw;
    left: 0;
    z-index: 1;
    background-color: #6d7993;
    padding: 10px;
}

.dropdown:hover .dropcontent {
    display: block;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

.product-preview {
    grid-template-columns: auto auto;
}

footer {
    width: 100%;
    grid-template-columns: auto auto auto;
    text-align: center;
    position: relative;
    bottom: 0;
    background-color:  #6d7993;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: none;
    color: #96858f;
}

.slides {
    display: none;
    /*width: 50%;*/
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.animate-right {
    position: relative;
    animation: animateright 2s;
}

@keyframes animateright {
    from { right :0px; opacity:0 } to { right:0; opacity:1 }
}